header {
  text-align: center;
  font-family: "Trebuchet MS", x-large;
  text-transform: uppercase; }

header, footer {
  background-image: url(../Imagenes/fondo.jpg);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: cover; }

header ul li {
  background-color: #8b8c89;
  font-size: large;
  text-transform: none; }

footer ul li {
  display: block;
  font-size: 15px;
  padding: 1px;
  text-transform: none;
  text-align: right; }

* {
  list-style-type: none; }

@keyframes flash {
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animate__flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

@keyframes shakeY {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); } }

.animate__shakeY {
  -webkit-animation-name: shakeY;
  animation-name: shakeY;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02); } }

.animate__bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

.efectovideo {
  box-shadow: 1px 1px 36px 2px #8b8c89; }

@media only screen and (max-width: 768px) {
  #grilla {
    display: grid;
    grid-template-areas: "header" "productos" "productos2" "footerindex";
    grid-template-rows: 50% auto auto 10%;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 100vh;
    width: 100%;
    text-align: center; }
  #header {
    grid-area: header;
    grid-template-rows: 200px;
    display: flexbox; }
  #productos {
    grid-area: productos;
    display: flexbox;
    grid-template-columns: 100px;
    grid-template-rows: 200px;
    margin-top: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 10px; }
  #productos2 {
    grid-area: productos2;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px;
    text-align: center; }
  #footerindex {
    grid-area: footerindex;
    grid-template-rows: 200px;
    display: flexbox; }
  #grillanosotros {
    display: grid;
    grid-template-areas: "header" "nosotros" "ubicacion" "footernosotros";
    grid-template-rows: 48% 40% 30% 20%;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: auto;
    text-align: center; }
  #nosotros {
    grid-area: nosotros;
    display: grid;
    grid-template-columns: 400px;
    text-align: center; }
  #ubicacion {
    grid-area: ubicacion;
    display: grid;
    align-content: center; }
  #footernosotros {
    grid-area: footernosotros;
    grid-template-rows: 200px;
    display: flexbox; }
  #grillaproductos {
    display: grid;
    grid-template-areas: "header" "productos3" "destacados" "footerprod";
    grid-template-rows: 40 80 20 20;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-content: center; }
  #header {
    grid-area: header;
    grid-template-rows: 200px;
    display: flexbox; }
  #productos3 {
    grid-area: productos3;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px;
    align-content: center;
    align-items: center;
    text-align: center; }
  #destacados {
    grid-area: destacados;
    display: flexbox;
    grid-template-columns: 400px;
    grid-template-rows: none 200px 200px; }
  #footerprod {
    grid-area: footerprod;
    grid-template-rows: 200px;
    display: flexbox; }
  #grillacontacto {
    display: grid;
    grid-template-areas: "header" "contacto" "footercontacto";
    grid-template-rows: 20% 70% 20%;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  #contacto {
    grid-area: contacto;
    display: flexbox;
    grid-template-columns: 100px;
    grid-template-rows: 200px;
    margin-top: 200px;
    margin-bottom: 100px; }
  #footercontacto {
    grid-area: footercontacto;
    grid-template-rows: 200px;
    display: flexbox; }
  #grillainiciosesion {
    display: grid;
    grid-template-areas: "header" "formulario" "formulario" "footeriniciosesion";
    grid-template-rows: 30% auto 20%;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px; }
  #formulario {
    grid-area: formulario;
    display: flexbox;
    grid-template-columns: 100px;
    grid-template-rows: 200px;
    width: min-content; } }

.logo {
  align-content: center; }

.link {
  text-decoration: none;
  color: black; }

.derecha {
  text-align: right; }

body section {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

footer h4 {
  color: #e7ecef;
  font-size: 20px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px; }

.tachado {
  text-decoration: line-through;
  text-decoration-color: #8b8c89; }

body h3 {
  background-color: #274c77;
  text-align: center;
  font-style: oblique;
  color: #e7ecef;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 1%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline; }

h1 {
  background-color: #274c77;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  border-radius: 40px;
  color: #e7ecef; }

body p {
  font-size: 20px;
  margin: 3px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px; }

form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 30px;
  font-style: italic;
  text-align: center;
  word-spacing: 10px;
  background-image: url(../Imagenes/fondo.jpg);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: cover; }

#ubicacion {
  border: #274c77 solid;
  margin: 10px; }

.videos {
  position: relative;
  overflow: hidden; }

.centrado {
  text-align: center; }

.boxuno {
  width: 100%;
  height: 123px; }

.boxdos {
  width: 100%;
  height: 100px; }

.boton, .botonrestablecer {
  background-color: white;
  text-align: center;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.botonrestablecer {
  background-color: #75B3FF; }
