$tipografia-general: 'Trebuchet MS', x-large;

header{
    text-align: center;
    font-family: $tipografia-general;
    text-transform: uppercase;  
}

header, footer {
    background-image: url(../Imagenes/fondo.jpg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: cover;
}

header ul li {
    background-color: #8b8c89;
    font-size: large;
    text-transform: none;
}

footer ul li {
    display: block;
    font-size: 15px;
    padding: 1px;
    text-transform: none;
    text-align: right;
}

*{list-style-type: none;
}

  