@import "estructura";
@import "animaciones";


.logo{
    align-content: center;
}

.link {
    text-decoration: none;
    color: black;    
}

.derecha {
    text-align: right;
}

body section {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer h4 {
    color: #e7ecef;
    font-size: 20px;    
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

  .tachado {
    text-decoration: line-through;
    text-decoration-color: #8b8c89;
  }

  $estilo: (
    color: #274c77,  
    centro: center,
  );

  body h3 {
    background-color: map-get($estilo, color);
    text-align: map-get($estilo, centro);
    font-style: oblique;
    color: #e7ecef;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
  }

  h1 {
    background-color: map-get($estilo, color);
    text-align: map-get($estilo, centro);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;  
    border-radius: 40px;
    color: #e7ecef;
  }

  body p{
    font-size: 20px;
    margin: 3px; 
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 30px;
  font-style: italic;
  text-align: center;
  word-spacing: 10px;
  background-image: url(../Imagenes/fondo.jpg);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: cover;
}

#ubicacion{
  border: #274c77 solid;
  margin: 10px;
}

.videos {
  position: relative;
  overflow: hidden;
}

.centrado {
  text-align: center;  
}

@mixin container ($ancho, $alto) {
 width: $ancho;
 height: $alto;
}

.boxuno{
  @include container (100%, 123px)
}
.boxdos{
  @include container (100%, 100px)
}

.boton {
  background-color: white;
  text-align: center;
  font-size: medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.botonrestablecer {
  @extend .boton;
  background-color: #75B3FF;
}

